<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/static/css/login.css">

        <title>Mercado Libre</title>
    </head>
    <body>
        <header>
            <div>
                <img src="/static/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre">
                <div>
                    <input type="search" placeholder="Buscar productos, marcas...">
                    <div class="fa fa-search">
                        <input type="submit" value="">
                    </div>
                </div>
                <div>
                    <li class="fa fa-hand-holding-usd">
                        <a>Comprá en cuotas y sin tarjeta de crédito</a>
                    </li>
                </div>
            </div>            
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></href></li>
                    <li><a href="#">Tiendas Oficiales</a></href></li>
                    <li><a href="#">Vender</a></href></li>
                    <li><a href="#">Ayuda</a></href></li>
                </ul>
                <ul>
                    <li><a href="/view/register.html">Creá tu cuenta</a></href></li>
                    <li><a href="/view/login.html">Ingresá</a></href></li>
                    <li><a href="#">Mis Compras</a></href></li>
                </ul>                                   
            </nav>    
            <div>
                <i class="fas fa-bars"></i>
            </div>
            <img src="/static/images/img-home-banner.jpg" alt="Cafetera Moulinex">
        </header>
        <main>
            <form action="/login" method="POST">
                <div>
                    <input type="text" name="usuario" placeholder="Nombre de usuario">
                    <input type="text" name="clave" placeholder="Contraseña">
                    <button type="submit">
                        <span>Enviar</span>
                    </button>             
                </div>
            </form>            
        </main>
        <footer>
            <div>
                <section>
                    <i class="fas fa-credit-card"></i>
                    <h4>Pagá con tarjeta o con efectivo</h4>
                    <p>Con MecadoLibreCashtenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguto!</p>
                </section>
                <section>
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde los $2.500</h4>
                    <p>Solo por estar registrad@ en MescadoLibre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
                </section>
                <section>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devoldelo! En MercadoLibre no hay nada que no puedas hacer porque estás siempre protegid@</p>
                </section>
                <div>
                    <a href="#">Copyright &copy; 1990-2021 MercadoLibre S.R.L.</a>
                </div>
            </div>
        </footer>
    </body>
</html>
